In [1]:
import pandas as pd
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from string import punctuation

In [3]:
df = pd.read_excel("D:\\Private\\University\\Research\\Data Sets\\Enhanced Data Sets\\Test 2.xlsx")
df

,id,ticketId,created,modified,lang,channel,companies,status,requester,priority,description,type,subject,assigners,attachments
0,1485,135884,2024-03-01T10:19:16.000Z,2024-03-01T10:20:43.709Z,en,web,"[{'type': 'account', 'data': '564'}]",open,"{'type': 'contact', 'data': '11888'}",urgent,<p>can I get an export of all unmapped employe...,ticket,NaN,NaN,NaN
1,1484,135864,2024-02-29T21:15:29.000Z,2024-03-01T08:51:11.000Z,en,email,"[{'type': 'account', 'data': '1684'}]",closed,"{'type': 'contact', 'data': '10331'}",low,"<div> <p><span style=""font-size:8.0pt;font-fam...",ticket,Automatic reply: 10 Compensation Review Mistak...,NaN,NaN
2,1459,135534,2024-02-23T09:41:35.000Z,2024-02-29T15:28:59.000Z,en,web,"[{'type': 'account', 'data': '1521'}]",open,"{'type': 'contact', 'data': '9808'}",low,<p>How to hide managers own salary range </p>,ticket,NaN,"[{'type': 'admin', 'data': '108'}]",NaN
3,1478,135802,2024-02-29T14:20:52.000Z,2024-02-29T15:06:15.000Z,fr,email,"[{'type': 'account', 'data': '1723'}]",closed,"{'type': 'contact', 'data': '10479'}",low,"<div> <p><span style=""font-size:12.0pt;font-fa...",ticket,Réponse automatique : [EXTERNAL] 10 Compensati...,NaN,NaN
4,1479,135803,2024-02-29T14:20:57.000Z,2024-02-29T15:06:10.000Z,en,email,"[{'type': 'account', 'data': '1652'}]",closed,"{'type': 'contact', 'data': '10259'}",low,"<div> <p>﻿<span lang=""IT"" style=""font-size:8.0...",ticket,Risposta automatica: 10 Compensation Review Mi...,NaN,"[{'fileId': '51203', 'externalId': 'a530bf0b-c..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1289,58,62720,2023-05-31T13:53:43.000Z,2023-06-01T09:48:46.000Z,NaN,web,"[{'type': 'account', 'data': '192'}]",closed,"{'type': 'contact', 'data': '1150'}",low,<p>Bonjour à l'équipe Figures!</p>,ticket,NaN,"[{'type': 'visitor', 'data': 'rebecca.madden@f...",NaN
1290,48,59127,2023-05-24T12:42:19.000Z,2023-06-01T09:48:46.000Z,NaN,web,"[{'type': 'account', 'data': '3'}]",closed,"{'type': 'contact', 'data': '6'}",low,<p>Hi there! I'm trying to change the level fo...,ticket,NaN,"[{'type': 'visitor', 'data': 'rebecca.madden@f...",NaN
1291,323,62810,2023-05-31T15:53:38.000Z,2023-06-01T09:48:39.000Z,NaN,web,"[{'type': 'account', 'data': '1021'}]",closed,"{'type': 'visitor', 'data': 'josephine@seepje....",low,<p>Hooi! Francien the last People &amp; Cultur...,ticket,NaN,"[{'type': 'visitor', 'data': 'rebecca.madden@f...",NaN
1292,60,62070,2023-05-30T14:52:03.000Z,2023-06-01T09:48:38.000Z,NaN,web,"[{'type': 'account', 'data': '463'}]",closed,"{'type': 'contact', 'data': '2360'}",low,"<p>Hi Team, </p>\n<p>Is it possible to get acc...",ticket,NaN,"[{'type': 'visitor', 'data': 'rebecca.madden@f...",NaN
1293,46,62066,2023-05-30T14:49:51.000Z,2023-06-01T09:48:36.000Z,NaN,web,"[{'type': 'account', 'data': '343'}]",closed,"{'type': 'contact', 'data': '1843'}",low,"<p>Hi there, I'd like to set up a call to talk...",ticket,NaN,"[{'type': 'visitor', 'data': 'rebecca.madden@f...",NaN